@import "../base/base.styl"

.shape
    display: block
    &.shape-box
        border-radius: 0
    &.shape-ball
        border-radius: 50%
    &.shape-triangle
        width: 0;
        height: 0;
        border-left-style: solid
        border-left-color: transparent
        border-right-style: solid
        border-right-color: transparent
        border-bottom-style: solid
        &.shape-depth-1
            background-color: transparent
            border-bottom-color: $color-1
        &.shape-depth-2
            background-color: transparent
            border-bottom-color: $color-2
        &.shape-depth-3
            background-color: transparent
            border-bottom-color: $color-3
        &.shape-depth-4
            background-color: transparent
            border-bottom-color: $color-4
        &.shape-depth-5
            background-color: transparent
            border-bottom-color: $color-5
    &.shape-depth-1
        background-color: $color-1
    &.shape-depth-2
        background-color: $color-2
    &.shape-depth-3
        background-color: $color-3
    &.shape-depth-4
        background-color: $color-4
    &.shape-depth-5
        background-color: $color-5
