@import "../commons/variables.styl"

.box-container
    display: flex
    &.box-container-type-row
        flex-direction: row
    &.box-container-type-column
        flex-direction: column
    &.box-container-padding-0
        padding: 0
    &.box-container-padding-xs
        padding: 8px
    &.box-container-padding-sm
        padding: 16px
    &.box-container-padding-md
        padding: 32px
    &.box-container-padding-lg
        padding: 64px
    &.box-container-align-flex-start
        align-items: flex-start
    &.box-container-align-flex-end
        align-items: flex-end
    &.box-container-align-center
        align-items: center
    &.box-container-align-baseline
        align-items: baseline
    &.box-container-align-stretch
        align-items: stretch
    &.box-container-justify-flex-start
        justify-content: flex-start
    &.box-container-justify-flex-end
        justify-content: flex-end
    &.box-container-justify-center
        justify-content: center
    &.box-container-justify-space-between
        justify-content: space-between
    &.box-container-justify-space-around
        justify-content: space-around
    &.box-container-justify-inherit
        justify-content: inherit
    &.box-container-1
        background-color: $color-1
    &.box-container-2
        background-color: $color-2
    &.box-container-3
        background-color: $color-3
    &.box-container-4
        background-color: $color-4
    &.box-container-5
        background-color: $color-5