@import "../commons/variables.styl"

//DEPTHS

.bg-depth-0
    background-color: $color-0
.bg-depth-1
    background-color: $color-1
.bg-depth-2
    background-color: $color-2
.bg-depth-3
    background-color: $color-3
.bg-depth-4
    background-color: $color-4
.bg-depth-5
    background-color: $color-5

.color-depth-0
    color: $color-0
.color-depth-1
    color: $color-1
.color-depth-2
    color: $color-2
.color-depth-3
    color: $color-3
.color-depth-4
    color: $color-4
.color-depth-5
    color: $color-5

//SIZES

.size-xs
    width: 8px
    height: 8px

.size-sm
    width: 16px
    height: 16px

.size-md
    width: 32px
    height: 32px

.size-lg
    width: 64px
    height: 64px
.size-xg
    width: 128px
    height: 128px

//WIDTH

.width-xs
    width: 8px

.width-sm
    width: 16px

.width-md
    width: 32px

.width-lg
    width: 64px

.width-xg
    width: 128px

.width-100
    width: 100%

.width-50
    width: 50%

.width-33
    width: 33.3%

.width-25
    width: 25%

.width-16
    width: 16.6%

//HEIGHT

.height-xs
    height: 8px

.height-sm
    height: 16px

.height-md
    height: 32px

.height-lg
    height: 64px

.height-xg
    height: 128px

.height-100
    height: 100%

.height-50
    height: 50%

.height-33
    height: 33.3%

.height-25
    height: 25%

.height-16
    height: 16.6%

//MARGINS

.margin-center
    margin: 0 auto
.margin-0
    margin: 0
.margin-xs
    margin: 8px
.margin-sm
    margin: 16px
.margin-md
    margin: 32px
.margin-lg
    margin: 64px
.margin-xg
    margin: 128px

//MARGIN-TOP

.margin-top-0
    margin-top: 0
.margin-top-xs
    margin-top: 8px
.margin-top-sm
    margin-top: 16px
.margin-top-md
    margin-top: 32px
.margin-top-lg
    margin-top: 64px
.margin-top-xg
    margin-top: 128px

//MARGIN-LEFT

.margin-left-0
    margin-left: 0
.margin-left-xs
    margin-left: 8px
.margin-left-sm
    margin-left: 16px
.margin-left-md
    margin-left: 32px
.margin-left-lg
    margin-left: 64px
.margin-left-xg
    margin-left: 128px

//MARGIN-BUTTON

.margin-bottom-0
    margin-bottom: 0
.margin-bottom-xs
    margin-bottom: 8px
.margin-bottom-sm
    margin-bottom: 16px
.margin-bottom-md
    margin-bottom: 32px
.margin-bottom-lg
    margin-bottom: 64px
.margin-bottom-xg
    margin-bottom: 128px

//MARGIN-RIGHT

.margin-right-0
    margin-right: 0
.margin-right-xs
    margin-right: 8px
.margin-right-sm
    margin-right: 16px
.margin-right-md
    margin-right: 32px
.margin-right-lg
    margin-right: 64px
.margin-right-xg
    margin-right: 128px
    
//PADDINGS

.padding-0
    padding: 0
.padding-xs
    padding: 8px
.padding-sm
    padding: 16px
.padding-md
    padding: 32px
.padding-lg
    padding: 64px
.padding-xg
    padding: 128px

//PADDING-TOP

.padding-top-0
    padding-top: 0
.padding-top-xs
    padding-top: 8px
.padding-top-sm
    padding-top: 16px
.padding-top-md
    padding-top: 32px
.padding-top-lg
    padding-top: 64px
.padding-top-xg
    padding-top: 128px

//PADDING-LEFT

.padding-left-0
    padding-left: 0
.padding-left-xs
    padding-left: 8px
.padding-left-sm
    padding-left: 16px
.padding-left-md
    padding-left: 32px
.padding-left-lg
    padding-left: 64px
.padding-left-xg
    padding-left: 128px

//PADDING-BUTTON

.padding-bottom-0
    padding-bottom: 0
.padding-bottom-xs
    padding-bottom: 8px
.padding-bottom-sm
    padding-bottom: 16px
.padding-bottom-md
    padding-bottom: 32px
.padding-bottom-lg
    padding-bottom: 64px
.padding-bottom-xg
    padding-bottom: 128px

//PADDING-RIGHT

.padding-right-0
    padding-right: 0
.padding-right-xs
    padding-right: 8px
.padding-right-sm
    padding-right: 16px
.padding-right-md
    padding-right: 32px
.padding-right-lg
    padding-right: 64px
.padding-right-xg
    padding-right: 128px
    
//FLEX-BOX

.flex-row
    display: flex
    flex-direction: row

.flex-row-reverse
    display: flex
    flex-direction: row-reverse

.flex-column-reverse
    display: flex
    flex-direction: column-reverse

.flex-wrap
    flex-wrap: wrap

.flex-nowrap
    flex-wrap: nowrap

//FLEX-BOX-ALIGN-ITEMS

.align-items-flex-start
    align-items: flex-start

.align-items-flex-end
    align-items: flex-end

.align-items-flex-center
    align-items: center

.align-items-flex-baseline
    align-items: baseline
    
.align-items-flex-stretch
    align-items: stretch

//FLEX-BOX-JUSTIFY-CONTENT

.justify-content-flex-start
    justify-content: flex-start

.justify-content-flex-end
    justify-content: flex-end

.justify-content-flex-center
    justify-content: center

.justify-content-flex-space-between
    justify-content: space-between

.justify-content-flex-space-around
    justify-content: space-around

//FLEX-BOX-ALIGN-SELF

.align-self-flex-start
    align-self: flex-start

.align-self-flex-end
    align-self: flex-end

.align-self-flex-center
    align-self: center

.align-self-flex-baseline
    align-self: baseline
    
.align-self-flex-stretch
    align-self: stretch

//FLEX-BOX-JUSTIFY-SELF

.justify-self-flex-start
    justify-self: flex-start

.justify-self-flex-end
    justify-self: flex-end

.justify-self-flex-center
    justify-self: center

.justify-self-flex-space-between
    justify-self: space-between

.justify-content-flex-space-around
    justify-self: space-around

//FLEX-BASIS

.flex-basis-100
    flex-basis: 100px

.flex-basis-200
    flex-basis: 200px

.flex-basis-300
    flex-basis: 300px

.flex-basis-400
    flex-basis: 400px

.flex-basis-500
    flex-basis: 500px

.flex-basis-600
    flex-basis: 600px