//COLORS
$color-0 = #fff
$color-1 = darken($color-0, 5)
$color-2 = darken($color-1, 5)
$color-3 = darken($color-2, 5)
$color-4 = darken($color-3, 5)
$color-5 = darken($color-4, 5)

$bootstrap-primary = #007bff
$bootstrap-secundary = #6c757d
$bootstrap-success = #28a745
$bootstrap-danger = #dc3545
$bootstrap-warning = #ffc107
$bootstrap-info = #17a2b8
$bootstrap-light = #f8f9fa
$bootstrap-dark = #343a40
$bootstrap-white = #fff

//SOCIAL_COLORS
$facebook = #3b5998
$twitter = #00aced
$linkedin = #4875b4
$google-plus = #d34836
$flickr = #ff0084
$tumblr = #32506d
$xing = #026466
$github = #4183c4
$html5 = #e34f26
$openid = #f78c40
$stack-overflow = #fe7a15
$youtube = #b00b00
$css3 = #0170ba
$dribbble = #ea4c89
$google-plus = #bb4b39
$instagram = #517fa4
$pinterest = #cb2027
$vk = #45668e
$yahoo = #400191
$behance = #1769ff
$dropbox = #007ee5
$reddit = #ff4500
$spotify = #7ab800
$vine = #00bf8f
$foursquare = #1073af
$vimeo = #aad450

//BOXSHADOWS
$box-shadow-1 = 0px 1px 3px 0px rgba(0,0,0,0.2),0px 1px 1px 0px rgba(0,0,0,0.14),0px 2px 1px -1px rgba(0,0,0,0.12)
$box-shadow-2 = 0px 1px 5px 0px rgba(0,0,0,0.2),0px 2px 2px 0px rgba(0,0,0,0.14),0px 3px 1px -2px rgba(0,0,0,0.12)
$box-shadow-3 = 0px 1px 8px 0px rgba(0,0,0,0.2),0px 3px 4px 0px rgba(0,0,0,0.14),0px 3px 3px -2px rgba(0,0,0,0.12)
$box-shadow-4 = 0px 2px 4px -1px rgba(0,0,0,0.2),0px 4px 5px 0px rgba(0,0,0,0.14),0px 1px 10px 0px rgba(0,0,0,0.12)
$box-shadow-5 = 0px 3px 5px -1px rgba(0,0,0,0.2),0px 5px 8px 0px rgba(0,0,0,0.14),0px 1px 14px 0px rgba(0,0,0,0.12)
$box-shadow-6 = 0px 3px 5px -1px rgba(0,0,0,0.2),0px 6px 10px 0px rgba(0,0,0,0.14),0px 1px 18px 0px rgba(0,0,0,0.12)
$box-shadow-7 = 0px 4px 5px -2px rgba(0,0,0,0.2),0px 7px 10px 1px rgba(0,0,0,0.14),0px 2px 16px 1px rgba(0,0,0,0.12)
$box-shadow-8 = 0px 5px 5px -3px rgba(0,0,0,0.2),0px 8px 10px 1px rgba(0,0,0,0.14),0px 3px 14px 2px rgba(0,0,0,0.12)
$box-shadow-9 = 0px 5px 5px -3px rgba(0,0,0,0.2),0px 8px 10px 1px rgba(0,0,0,0.14),0px 3px 14px 2px rgba(0,0,0,0.12)
$box-shadow-10 = 0px 6px 6px -3px rgba(0,0,0,0.2),10px 14px 1px rgba(0,0,0,0.14),0px 4px 18px 3px rgba(0,0,0,0.12)
$box-shadow-11 = 0px 6px 7px -4px rgba(0,0,0,0.2),11px 15px 1px rgba(0,0,0,0.14),0px 4px 20px 3px rgba(0,0,0,0.12)
$box-shadow-12 = 0px 7px 8px -4px rgba(0,0,0,0.2),0px 12px 17px 2px rgba(0,0,0,0.14),0px 5px 22px 4px rgba(0,0,0,0.12)
$box-shadow-13 = 0px 7px 8px -4px rgba(0,0,0,0.2),0px 13px 19px 2px rgba(0,0,0,0.14),0px 5px 24px 4px rgba(0,0,0,0.12)
$box-shadow-14 = 0px 7px 9px -4px rgba(0,0,0,0.2),14px 21px 2px rgba(0,0,0,0.14),0px 5px 26px 4px rgba(0,0,0,0.12)
$box-shadow-15 = 0px 8px 9px -5px rgba(0,0,0,0.2),15px 22px 2px rgba(0,0,0,0.14),0px 6px 28px 5px rgba(0,0,0,0.12)
$box-shadow-16 = 0px 8px 10px -5px rgba(0,0,0,0.2),0px 16px 24px 2px rgba(0,0,0,0.14),0px 6px 30px 5px rgba(0,0,0,0.12)
$box-shadow-17 = 0px 8px 11px -5px rgba(0,0,0,0.2),0px 17px 26px 2px rgba(0,0,0,0.14),0px 6px 32px 5px rgba(0,0,0,0.12)
$box-shadow-18 = 0px 9px 11px -5px rgba(0,0,0,0.2),0px 18px 28px 2px rgba(0,0,0,0.14),0px 7px 34px 6px rgba(0,0,0,0.12)
$box-shadow-19 = 0px 9px 12px -6px rgba(0,0,0,0.2),0px 19px 29px 2px rgba(0,0,0,0.14),0px 7px 36px 6px rgba(0,0,0,0.12)
$box-shadow-20 = 0px 10px 13px -6px rgba(0,0,0,0.2),0px 20px 31px 3px rgba(0,0,0,0.14),0px 8px 38px 7px rgba(0,0,0,0.12)
$box-shadow-21 = 0px 10px 13px -6px rgba(0,0,0,0.2),0px 21px 33px 3px rgba(0,0,0,0.14),0px 8px 40px 7px rgba(0,0,0,0.12)
$box-shadow-22 = 0px 10px 14px -6px rgba(0,0,0,0.2),0px 22px 35px 3px rgba(0,0,0,0.14),0px 8px 42px 7px rgba(0,0,0,0.12)
$box-shadow-23 = 0px 11px 14px -7px rgba(0,0,0,0.2),0px 23px 36px 3px rgba(0,0,0,0.14),0px 9px 44px 8px rgba(0,0,0,0.12)
$box-shadow-24 = 0px 11px 15px -7px rgba(0,0,0,0.2),0px 24px 38px 3px rgba(0,0,0,0.14),0px 9px 46px 8px rgba(0,0,0,0.12)

//TRANSITIONS
$material-transition = cubic-bezier(0.4, 0.0, 0.2, 1)